footer {
  padding: 2rem 0;
  background-color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container>p {
  font-size: 1.3rem;
  text-align: center;
}

.github-link {
  color: inherit;
}
